<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/responsive.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__container facb">
        <div class="header__logo fz60"><a href="../index.html">CV</a></div>
        <ul class="header__menu facenter fz24">
          <li class="header__item"><a href="../index.html">Home</a></li>
          <li class="header__item"><a href="./project.html">Projects</a></li>
          <li class="header__item"><a href="#">About</a></li>
        </ul>
        <div class="header__icon-menu active">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>
        </div>
        <div class="header__icon-close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <section class="slider">
      <div class="container">
        <div class="slider__container d-flex">
          <div class="slider__img">
            <img src="../img/avatar.jpg" alt="">
          </div>
          <div class="slider__info flex-col">
            <p class="fz24 facenter"><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>Tống Ngọc Tài</p>
            <p class="fz24 facenter"><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z"></path></svg>01 / 06 / 1999</p>
            <p class="fz24 facenter"><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 self-start" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>QuynhPhu, ThaiBinh City, VietNam</p>
          </div>
        </div>
      </div>
    </section>
    <section class="technical">
      <div class="container">
        <h1 class="fz30">Technical Skills</h1>
        <div class="row technical__list">
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/html.svg" alt="">
              <p class="fz16">Html</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/css.svg" alt="">
              <p class="fz16">Css</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/javascript.svg" alt="">
              <p class="fz16">javascript</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col">
              <img src="../img/react.svg" alt="">
              <p class="fz16">ReactJS</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/tailwind.svg" alt="">
              <p class="fz16">Tailwind</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/bootstrap.svg" alt="">
              <p class="fz16">Bootstrap</p>
            </div>
          </div>
          <div class="col xxl-1 xl-2 lg-2 md-2 sm-3 xs-4">
            <div class="technical__item flex-col flex-center">
              <img src="../img/github.svg" alt="">
              <p class="fz16">Github</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="../js/main.js"></script>
</body>
</html>
