<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/project.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__container facb">
        <div class="header__logo fz36"><a href="../index.html">CV</a></div>
        <ul class="header_menu facenter fz24">
          <li class="header__item"><a href="../index.html">Home</a></li>
          <li class="header__item"><a href="#">Projects</a></li>
          <li class="header__item"><a href="./about.html">About</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <div class="row gap20">
        <div class="col xxl-6 xxl-o-6 right">
          <div class="project__item">
            <img src="../img/safari.png" alt="">
            <div class="project__info d-flex">
              <div class="project__wrap flex-col">
                <h1 class="fz36">Safari</h1>
                <p class="fz30">HTML, Scss, JS </p>
                <div class="project__link fz16 facenter">
                  <a href="https://github.com/tboy1999/safari" target="_blank" class="facenter">View Source <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg></a>
                  <a href="https://tboy1999.github.io/safari/" target="_blank" class="facenter">Live Demo <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></a>
                </div>
              </div>
            </div>
            <div class="project__hover"></div>
          </div>
        </div>
        <div class="col xxl-6 left">
          <div class="project__item">
            <img src="../img/laslesvpn.png" alt="">
            <div class="project__info d-flex">
              <div class="project__wrap flex-col">
                <h1 class="fz36">Laslet VPN</h1>
                <p class="fz30">HTML, Scss, JS </p>
                <div class="project__link fz16 facenter">
                  <a href="https://github.com/tboy1999/LaslesVPN" target="_blank" class="facenter">View Source <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg></a>
                  <a href="https://tboy1999.github.io/LaslesVPN/" target="_blank" class="facenter">Live Demo <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></a>
                </div>
              </div>
            </div>
            <div class="project__hover"></div>
          </div>
        </div>
        <div class="col xxl-6 xxl-o-6 right">
          <div class="project__item">
            <img src="../img/uscar.png" alt="">
            <div class="project__info d-flex">
              <div class="project__wrap flex-col">
                <h1 class="fz36">USCar</h1>
                <p class="fz30">HTML, Css, JS </p>
                <div class="project__link fz16 facenter">
                  <a href="https://github.com/tboy1999/USCar" target="_blank" class="facenter">View Source <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg></a>
                  <a href="https://tboy1999.github.io/USCar/" target="_blank" class="facenter">Live Demo <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></a>
                </div>
              </div>
            </div>
            <div class="project__hover"></div>
          </div>
        </div>
        <div class="col xxl-6 left">
          <div class="project__item">
            <img src="../img/coral.png" alt="">
            <div class="project__info d-flex">
              <div class="project__wrap flex-col">
                <h1 class="fz36">Coral</h1>
                <p class="fz30">HTML, Css, JS </p>
                <div class="project__link fz16 facenter">
                  <a href="https://github.com/tboy1999/coral" target="_blank" class="facenter">View Source <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg></a>
                  <a href="https://tboy1999.github.io/coral/" target="_blank" class="facenter">Live Demo <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></a>
                </div>
              </div>
            </div>
            <div class="project__hover"></div>
          </div>
        </div>
        <div class="col xxl-6 xxl-o-6 right">
          <div class="project__item">
            <img src="../img/music.png" alt="">
            <div class="project__info d-flex">
              <div class="project__wrap flex-col">
                <h1 class="fz36">Music</h1>
                <p class="fz30">HTML, Css, JS </p>
                <div class="project__link fz16 facenter">
                  <a href="https://github.com/tboy1999/music" target="_blank" class="facenter">View Source <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg></a>
                  <a href="https://tboy1999.github.io/music/listMusic/learn/index.html" target="_blank" class="facenter">Live Demo <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg></a>
                </div>
              </div>
            </div>
            <div class="project__hover"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>